- content_for :main do
  
  %span.label.secondary Editing dodo

  %section.section_main      
    /-- Display form
    = render 'form'
    
  = link_to 'Show', @dodo,
  { :class=> "tiny round button"}
  = link_to 'Back', dodos_path ,
  { :class=> "tiny round button"}
